<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Totalworkcontrol.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="db_conn"
         connectionString="Data Source=DESKTOP-HRHCR6R\SQLEXPRESS;Initial Catalog=z_TotalworkDB;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <userSettings>
    <Totalworkcontrol.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedUserID" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoLoginToken" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoLoginExpiry" serializeAs="String">
        <value />
      </setting>
    </Totalworkcontrol.Properties.Settings>
  </userSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

</configuration>